@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using TestBlazorSS.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <NinjaDev.Components.Blazor.NDTable Items="forecasts" Context="forecast">
        <HeaderTemplate>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
        </HeaderTemplate>
        <RowTemplate>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
        </RowTemplate>
    </NinjaDev.Components.Blazor.NDTable>

}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
