@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you? ITS GREAT :)" />
@*<EditForm Model=InputModel>
    <InputText @bind-Value="InputModel.Text" @bind-Value:event="oninput" />
</EditForm>*@

<h3>@InputModel.Text</h3>

<NinjaDev.Components.Blazor.NDEditForm @bind-Model="@InputModel" />



@code {
    public NinjaDev.Components.Blazor.TestModel InputModel { get; set; } = new NinjaDev.Components.Blazor.TestModel() { Text = "123" };

}